/* General style */

body {
  font-family: "Red Hat Text", sans-serif;
  background-image: url(./assets/bg-stars.svg);
  background-color: hsl(234, 17%, 12%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  height: 94vh;
  position: relative;
  margin: 0;
}

/* General style end */

/* Hover effects */

footer img:hover {
  filter: invert(53%) sepia(39%) saturate(3026%) hue-rotate(312deg)
    brightness(103%) contrast(97%);
  cursor: pointer;
}

/* Hover effects end */

/* Headline */

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-size: 24px;
}

/* Headline end */

/* Main */

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Time cards*/

.card-time {
  height: 100px;
  width: 100px;
  position: relative;
  box-shadow: 0 6px 0px 0px hsla(0, 0%, 0%, 0.4);
  border-radius: 6px;
}

.card-bottom {
  height: 50%;
  background-color: hsl(236, 21%, 26%);
  border-radius: 6px;
}

.card-top {
  height: 50%;
  background-color: hsl(235, 16%, 14%);
  border-radius: 6px;
  border-top: 2px;
}

.counter {
  position: absolute;
  left: 25%;
  top: 8%;
  font-size: 60px;
  color: hsl(345, 95%, 68%);
  opacity: 90%;
}

/* Time cards end*/

/* Main end */

/* Footer */

footer {
  background: url(./assets/pattern-hills.svg) center;
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-size: cover;
}

footer img {
  margin: 40px 30px 0 0;
  height: 20px;
}

/* Footer end */
